:root {
    --header_background: #f8fafb;
    --main_background: #78A6C8;
    --main_accent: #326789;
    --second_accent: #E65C4F;
    --dark_font: #464d57;
}

.dark_font {
    color: var(--dark_font)
}

.text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
}

.header__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
}

.img {
    height: 100%;
    width: 100%;
}

/* -------------BODY */

.body {
    margin: auto;
    max-width: 1200px;
    background-color: var(--header_background);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* ---------------HEADER */

.header_container {
    padding: 24px 48px;
    margin-bottom: 6px;
    display: flex;
    background-color: var(--header_background);
    align-items: center;
}

.header__logo_container {
    display: flex;
    align-items: center;
}

.header__logo_img {
    height: 64px;
    width: 64px;
    margin-right: 12px;
}
.header__logo_text {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
}
.header__search {
    position: relative;
    margin-left: auto;
    min-width: 350px;
    height: 34px;
    display: flex;
    align-items: center;
    border: 1px solid var(--main_accent);
    border-radius: 20px;
}

.invalid_icao {
    border: 1px solid var(--second_accent);
}

.search_input {
    height: 100%;
}

.input_icao {
    flex: 1 0 180px;
    padding: 0 10px;
    border-radius: 20px 0 0 20px;
}

.input_icao:focus {
    color: var(--dark_font);
}

.input_button {
    flex: 0 0 32px;
    border-radius: 0 20px 20px 0;
    background: url(./assets/img/loupe.png);
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
}

.search__invalid_input {
    z-index: 1;
    width: 200px;
    position: absolute;
    color: var(--second_accent);
    font-size: 14px;
    top: -20px;
    left: 10px;
}

@media (max-width: 767.9px) {
    .header_container {
        padding: 6px 12px;
    }
    .header__search {
        min-width: 212px;
    }
}

@media (max-width: 479.9px)  {
    .header_container {
        padding: 6px 12px;
        margin-bottom: 6px;
        display: flex;
        flex-direction: column;
        background-color: var(--header_background);
        align-items: flex-start
    }

    .header__logo_container {
        margin-bottom: 12px;
    }

    .header__search {
        width: 100%;
        margin-left: 0;
    }
    .search__invalid_input {
        left: 50%;
        transform: translate(-50%);
    }
}

/* ------LOADING */
.output__loading{
    position: absolute;
    width: 100%;
    height: 55%;
    border-radius: 20px;
    background-color: #78a5c872;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading__img {
    width: 64px;
    height: 64px;
}

.loading__img img {
    animation: loading 3s linear infinite;
}

@keyframes loading {
    from {
      transform: rotateZ(0deg);
    }
  
    to {
      transform: rotateZ(360deg);
    }
}

.hidden {
    display: none;
}

/* -------------MAIN OUTPUT */

.main__output {
    position: relative;
    flex: 1 0;
    margin: 0 24px 12px;
}

.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.output_title {
    margin-bottom: 12px;
}

.output_text {
    text-align: justify;
    margin-bottom: 8px;
}

.output__header_container,
.output__main_container {
    border-radius: 20px;
    border: 1px solid var(--main_accent);
    background-color: var(--main_background);
    padding: 12px;
}

.metar {
    border-radius: 20px;
    border: 1px solid var(--main_accent);
    background-color: var(--header_background);
    padding: 10px;
    font-weight: 500;
}

.main__output_text {
    border-radius: 20px;
    border: 1px solid var(--main_accent);
    background-color: var(--header_background);
    padding: 12px;
    min-height: 58px;
}

@media (max-width: 767.9px) {
    .main__output {
        margin: 0 12px 12px;
    }
}

/* --------------FOOTER */

.footer_container {
    margin: auto;
    padding: 0 0 12px;
}

.footer__copyright {
    font-size: 14px;
    line-height: 16px;
}